[submodule "HappyX.Web"]
	path = HappyX.Web
	url = https://github.com/moixblau/HappyX.Web
[submodule "HappyX.Bot"]
	path = HappyX.Bot
	url = https://github.com/moixblau/HappyX.Bot
[submodule "HappyX.Api"]
	path = HappyX.Api
	url = https://github.com/WoltersoderWolltersnicht/HappyX.Api
